.GuildMemberListContainer {
    padding: 20px;
    background-color: #AD7A32;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius:10px;
    color:white
  }
  
  .GuildMembersGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Ensure 2 columns per row */
    gap: 20px;
    width: 70%;
    padding:30px;
  }
  
  .GuildMemberCard {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor:pointer
  }
  
  .GuildMemberCard h2 {
    font-size: 1.5em;
    color: #333;
  }
  
  .GuildMemberCard p {
    font-size: 1em;
    color: #555;
  }
  
  .GuildMemberCard strong {
    font-weight: bold;
  }